body {
  /*background-color: #FF0000;*/
}

td {
  width: 125px;
  height: 125px;

  padding: 5px !important;
  position: relative;
}

td > *{
  z-index: -1;
}

td.input {
  cursor: pointer;
}

td i.icon {
  position: absolute;
  z-index: 100;
}

td i.icon.top {
  top: 5px;
  bottom: auto;
}

td i.icon.middle {
  top: 50%;
  transform: translateY(-50%);
}

td i.icon.bottom {
  top: auto;
  bottom: 5px;
}

td i.icon.left {
  left: 5px;
  right: auto;
}

td i.icon.center {
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

td i.icon.right {
  left: auto;
  right: 5px;
}

td i.icon.center.middle {
  transform: translate(-50%, -50%);
}

i.icon.r45::before {
  transform: rotate(45deg);
}

i.icon.r90::before {
  transform: rotate(90deg);
}

i.icon.r135::before {
  transform: rotate(135deg);
}

i.icon.r180::before {
  transform: rotate(180deg);
}

i.icon.r225::before {
  transform: rotate(225deg);
}

i.icon.r270::before {
  transform: rotate(270deg);
}

i.icon.r315::before {
  transform: rotate(315deg);
}

td[class*="able"] {
  cursor: pointer;
}

td.selected {
  background-color: rgba(34,36,38,.1);
}
